#getwell_button{
	width: 100px;
	height: 100px;
	position: fixed;
	left: 10px;
	top: 10px;
}

.navbar-brand{
	padding-top: 0px;
}

.navbar-brand img {
	height: $navbar-height;
	margin-top:0px;
}

h2.page-head{
	margin-top:0px;
	margin-bottom:0px;
}

.left-panel .panel-body {
	padding:10px;
}

.left-panel .well{
	margin-top: 5px;
	margin-bottom: 5px;
}

.panel-heading.gwsearch-left img{
	height: 60px;
	margin-top: 0px;
}

.panel-heading.gwsearch-left{
	padding: 2px 5px;
	text-align: center;
}

.panel-body.gwsearch-left {
	padding:10px;
	text-align: center;
}

.well.gwsearch-left {
	margin-bottom: 5px;
}

.panel-body.gwsearch-content {
	padding:10px;
}

.well.drug-well{
	margin-bottom: 0px;
}

.well.drug-well .label{
	margin-left: 5px;
}

.panel-footer form{
	display:inline;
}